.form {
   width: 600px;
}

.bgform {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60%;
   width: 700px;
   background: #0d0f11;
   border-radius: 16px;
}

.button {
   width: 150px;
}

.btnSubmit {
   display: flex;
   align-items: center;
   justify-content: center;
}

@media (max-width: 740px) {
   .bgform {
      display: flex;
      padding: 30px;
      justify-content: center;
      align-items: center;
      height: 70%;
      width: 90%;
      background: #0d0f11;
      border-radius: 16px;
   }

   .formItem {
      margin: 10px;
   }
}
