.ready {
   width: 150px;
   height: 40px;
   font-size: 15px;
}

.timer {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   height: 100%;
   margin-top: 20px;
}

.buttonGroup {
   display: flex;
   margin-top: 35px;
   gap: 10px;
}

@media (max-width: 580px) {
   .timer {
      margin-bottom: 130px;
   }
}

@media (min-width: 1200px) {
   .timer {
      justify-content: center;
      margin-bottom: 100px;
   }
}
