.mainFrame {
   width: 80%;
   height: 85vh;
   background: #0d0f11;
   border-radius: 16px;
}

.traningWindow {
   display: flex;
   height: 88%;
}

@media (max-width: 460px) {
   .mainFrame {
      width: 90%;
   }
}
