.mainFrame {
   width: 1000px;
   height: 600px;
   background: #0d0f11;
   border-radius: 15px;
}

.frameTop {
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   width: 100%;
   height: 70px;
   border-bottom: 1px solid rgba(97, 97, 97, 0.3);
   display: flex;
   align-items: center;
   padding: 15px 30px;
}
