.blockParam {
   border-radius: 16px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: start;
   border: 1px solid rgba(131, 131, 131, 0.3);
   gap: 10px;
}

.item {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 20px;
   color: rgba(255, 255, 255, 0.85);
}

.showInput {
   text-decoration: underline;
   font-size: 15px;
   color: #fcba28;
   cursor: pointer;
}
