.blockParam {
   border-radius: 16px;
   padding: 10px;
   margin-top: 13px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   border: 1px solid rgba(131, 131, 131, 0.3);
   gap: 10px;
}

.item {
   display: flex;
   align-items: center;
   gap: 10px;
}

.showInput {
   text-decoration: underline;
   font-size: 15px;
   color: #fcba28;
   cursor: pointer;
}

.subTitle {
   font-size: 20px;
}
